{{- if and .Values.global.alerts.enabled (eq .Values.global.alerts.kind "configmap") -}}
apiVersion: v1
kind: ConfigMap
metadata:
  name: coder-metrics-alerts
  namespace: {{ .Release.Namespace }}
data:
  coderd.yaml: |-
    groups:
    {{- include "coderd-prometheus-alerts" . }}
  provisionerd.yaml: |-
    groups:
    {{- include "provisionerd-prometheus-alerts" . }}
  enterprise.yaml: |-
    groups:
    {{- include "enterprise-prometheus-alerts" . }}
  postgres.yaml: |-
    groups:
    {{- include "postgres-prometheus-alerts" . }}
{{- end }}
